{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-stacked" method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    {{ form }}
<p><a href="{% url auth_password_reset %}">Forgot</a> your password?  <a href="{% url registration_register %}">Need an account</a>?</p>
<input class="btn primary" type="submit" value="login" />
</form>

{% endblock %}
