{% load expenses %}
<div class="person_detail">
    <div class="person_header">
        <h1>
			{{ person.user.get_full_name}}'s Households  <a class="btn primary" href="{% url household_create %}"> Create New Household </a>
        </h1>
    </div>
    <div class="person_households">
        <ul class="unstyled">
            {% for household in person.household_set.all %}
            <li> {% render_household household %} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="person_households_invites">
    <h2>
        Invited Households
    </h2>
        <ul>
            {% for invite in person.invited_set.all %}
            <li> {% render_invite invite %} </li>
            {% endfor %}
        </ul>
    </div>
</div>
