{% load static %}
<html>
<head>
    <title>
        Balanceer
    </title>
{% block scripts %}
{% include "base/scripts.html" %}
{% endblock %}
    {% block styles %}
    {% include "base/styles.html" %}
    {% endblock styles %}
</head>
<body>
{% include "base/topbar.html" %}
<div class="container">
{% include "base/modal.html" %}
<section id="content" class="border-box">
        {% block content %}
        {%  endblock content %}
</section>
{% include "base/footer.html" %}
</div>
</body>
</html>