<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="/">Budgeteer</a></h3>
            <ul>
                <li class="active"><a href="/">Home</a></li>
                {% if not user.is_anonymous %}
                    <li>
                    <a href="{% url profiles_profile_detail user.username %}">
                        {{ user }}: Profile
                    </a>
                    </li>
                    <li>
                    <a href="{% url auth_logout %}">
                        Logout
                    </a>
                    </li>
                {% else %}
                    <li>
                    <a href="{% url auth_login %}">
                        Login or Register
                    </a>
                    </li>
                {%  endif %}
            </ul>
            <form action="">
                <input type="text" placeholder="Search">
            </form>
        </div>
    </div> <!-- /fill -->
</div>
<div id="topbar-spacer">
    
</div>